
<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-2">
          <img src="https://www.brandsvietnam.com/upload/news/480px/2013/FPT-ID1602_1367835097.jpg" alt="Smiley face" height="42" width="100%">
      </div>
      <div class="ui-g-10">
          <!-- <p-menubar [model]="items"></p-menubar> -->
        <div class="ui-g">
            <div class="ui-g-2">
                <a href="https://www.w3schools.com">Trang chu</a>
            </div>
            <div class="ui-g-2">
                <a href="https://www.w3schools.com">Gioi thieu</a>
            </div>
            <div class="ui-g-2">
                <a href="https://www.w3schools.com">Tim viec</a>
            </div>
            <div class="ui-g-2">
                <a href="https://www.w3schools.com">Tao ho so</a>
            </div>
            <div class="ui-g-2">
                <a href="https://www.w3schools.com">Quan ly nghe ngiep</a>
            </div>
            <div class="ui-g-2">
                <a href="https://www.w3schools.com">Lien he</a>
            </div>
        </div>
      </div>  
    </div>
 </div>
  

  <div class="ui-g-12">
      <div class="ui-g">
          <div class="ui-g-4">
              <div class="ui-g">
                  <font color="red">Tim viec nhanh</font>
              </div>
              <div class="ui-g">
                  Tu khoa
              </div>
              <div class="ui-g">
                  <input type="text" name="" placeholder="Click vào đây để xem kết quả" />
              </div>
              <div class="ui-g">
                  <select width="160">
                      <option value="volvo">Tim kiem cong viec</option>
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                    </select>
              </div>
              <div class="ui-g">
                <button pButton type="button" label="Click" (click)="showTitle()" ></button>
                <h1 *ngIf="show"{{title}}></h1>
              </div>
              <div class="ui-g">
                  <div class="ui-g-4">
                      <a href="https://www.w3schools.com">Tim kiem nang cao</a>
                  </div>
                  <div class="ui-g-4">
                      <button type="button">Tim nhanh</button>
                  </div>
              </div>

              
              <div class="ui-g">
                  <div class="ui-g-12">
                      <a href="https://www.w3schools.com">Cty CP FPT</a>
                  </div>
                  <div class="ui-g-12">
                      <a href="https://www.w3schools.com">Cty CP Chứng khoán FPT</a>
                  </div>
                  <div class="ui-g-12">
                      <a href="https://www.w3schools.com">Cty YG</a>
                  </div>

              </div>
              <div class="ui-g">
                  <div class="ui-g-12">
                    <h1>XX</h1>
                  </div>
                  <div class="ui-g-12">
                      Ten dang nhap
                  </div>
                  <div class="ui-g-12">
                    <input pInputText type="text" />
                  </div>
                  <div class="ui-g-12">
                    Mat khau
                  </div>
                  <div class="ui-g-12">
                      <input type="password"  name="" autofocus="autofocus" />
                  </div>
                  <div class="ui-g-12">
                      <div class="ui-g">
                          <div class="ui-g-5">
                              <a href="https://www.w3schools.com">Quen mat khau</a>
                          </div>  
                          <div class="ui-g-7">
                              <button type="button">Dang nhap</button>
                          </div>
                      </div>
                  </div>
                  <div class="ui-g-12"> 
                      <a href="https://www.w3schools.com"> Dang ky</a>
                  </div>
              </div>
              <div class="ui-g">
                  <div class="ui-g-12">
                      THỐNG KÊ TRUY CẬP
                  </div>
                  <div class="ui-g-12">
                      Có 161 khách đang truy cập
                  </div>
                  <div class="ui-g-12">
                      Tổng lượt đã truy cập
                  </div>
                  <div class="ui-g-12">
                      LIÊN KẾT WEBSITE
                  </div>
                  <div class="ui-g-12">
                      <select>
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select>
                  </div>
              </div>

          </div>


          <div class="ui-g-4">
              <div class="ui-g">
                  <font color="red">Viec lam hot</font>
              </div>
              
              
              <div class="ui-g">
                  <div class="ui-g-10">
                      <a href="https://www.w3schools.com">[HN] Tuyển gấp Nữ nhân viên hỗ trợ ứng dụng công nghệ</a>
                  </div>
                  <div class="ui-g-2">
                      01/03/2019
                  </div>
                  <div class="ui-g">
                      <div class="ui-g-12">
                          <img src="https://cdn.tgdd.vn/Files/2018/04/09/1080772/haha.gif" alt="Smiley face" height="42" width="42">
                      </div>
                      <div class="ui-g-12">
                          Công ty Hệ thống Thông tin FPT (Hà Nội)
                      </div>
                  </div>
              </div>

              <div class="ui-g">
                  <div class="ui-g-10">
                      <a href="https://www.w3schools.com">[Tập đoàn FPT]_Kỹ sư cơ điện công trình HN</a>
                  </div>
                  <div class="ui-g-2">
                      15/03/2019
                  </div>
                  <div class="ui-g">
                      <div class="ui-g-12">
                          <img src="https://cdn.tgdd.vn/Files/2018/04/09/1080772/haha.gif" alt="Smiley face" height="42" width="42">
                      </div>
                      <div class="ui-g-12">
                          Công ty cổ phần FPT (Hồ Chí Minh )
                      </div>
                  </div>
              </div>
              <div class="ui-g">
                  <div class="ui-g">
                      <font color="red">Viec lam moi</font>
                  </div>
              </div>
              <div class="ui-g">
                  <div class="ui-g-12">
                      <a href="https://www.w3schools.com">FGW_CB Công tác sinh viên(1 người)</a>
                  </div>
                  <div class="ui-g-12">
                      Đại học FPT (Hà Nội)
                  </div>

              </div>


              
              
              
          </div>
          <div class="ui-g-4">
              <img src="https://cdn.tgdd.vn/Files/2018/04/09/1080772/haha.gif" alt="Smiley face" height="100%" width="50%">
          </div>
          
      </div>
    
      
  </div>
      

  <div class="ui-g-12">
      <h3 style="text-align: center;">Ban quyen FPT</h3>
  </div>
</div>



<router-outlet></router-outlet>
